/* CSS Reset */
*, *::before, *::after { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }


:root {
    --gray : rgb(160, 160, 160);
    --border-gray: rgb(165, 165, 165);
    --light-gray : #F3F3F3;
    --soft-lavender: #e1e8f6;
    --dark-gray: #DCE1E3;
    --lapis: #39a0ca;
    --ice-blue: #a0d2eb;
    --peach: #f3756b;
    --coffee: #e3dbc9;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c9f9ff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
  }
  
.header-wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  
.header {
  font-stretch: ultra-expanded;
  margin-top: 20px;
  padding: 20px;
  font-size: 40px;
  font-weight: 650;
}

.body-container {
  height: 500px;
  width: 350px;
  padding: 10px;
  background-color: #90d7ff ;
  display: flex;  
  flex-direction: column;
  border-radius: 30px;
  border: 1px var(--border-gray) solid;
}

/* Location input form */
.form-container {
  height: 32px;
  width: 340px;
  display: flex;
  justify-content: left;
  background-color: var(--light-gray);
  border-radius: 25px;
  border: 1px var(--border-gray) solid;
}

#location-form {
  height: 30px;
  width: 295px;
  padding-left: 15px;
  padding-right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

#search-icon {
  background-color: transparent;
  --ionicon-stroke-width: 24px;
  font-size: 24px; 
  margin-top: 4px;
  margin-left: 5px;
}

#submit-icon {
  background-color: transparent;
  --ionicon-stroke-width: 18px;
  font-size: 32px;
  margin-bottom: 2px;
  margin-right: 3px;
}

#submit-icon:hover {
  opacity: 0.45;
  transition: 0.55s;
  transform: translate(0em, -0.05em)
}

#submit-icon:active {
  transform: translate(0em, 0.02em); 
  transition: 0.1s;
}

/* Weather Display */
.weather-container {
  margin-top: 30px;
  font-weight: 600;
  font-size: 25px;
}

.city {

}

.region {

}

.temperature {

}

.condition {

}

.wind {

}